<div class="container" style="text-align-last:right;">
  <h1 style="float:left;"><i class="icon-user"></i>Employee Listing</h1>
  <button (click)="AddNew()" class="btn btn-sm btn-outline-primary">Add User</button>
</div>

<br/>

<div class="container">
  <div class="row">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Designation</th>
          <th scope="col">Salary</th>
          <th scope="col">Short Bio</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employeeList">
          <td>{{ employee.firstName }} {{ employee.lastName }}</td>
          <td>{{ employee.designation }}</td>
          <td>{{ employee.salary}}</td>
          <td>{{ employee.shortbio | slice:0:25 }}</td> <!-- Short Bio is truncated to 25 characters -->
          <td>{{ employee.dateofbirth | date:'dd/MM/yyyy' }}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary" (click)="editClick(employee.id)" >Edit</button> &nbsp;
            <button class="btn btn-sm btn-outline-danger" (click)="deleteClick(employee.id)">Delete</button>
          </td>
        </tr>
        </tbody>
    </table>   
  </div>
</div>