<div class="container" style="padding-left:0px; padding-right:0px;">
    <h1>Employee Details</h1>
</div>
<div class="card-body container">
    <form [formGroup]="form">
        <div class="mb-4 row col-12">
            <div class="form-group col-5">
                <label>First Name</label>
                <input type="text" placeholder="First Name" name="firstName" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group col-5">
                <label>Last Name</label>
                <input type="text" placeholder="Last Name" name="lastName" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
        </div>
        <div class="mb-4 row col-12">
            <div class="form-group col-5">
                <label>Designation</label>
                <input type="text" placeholder="Designation" name="designation" formControlName="designation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }"/>
                <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                    <div *ngIf="f.designation.errors.required">Designation is required</div>
                </div>
            </div>
            <div class="form-group col-5">
                <label>Salary</label> &nbsp; <i class="fa fa-exclamation-circle " ngbTooltip="No Decimals / Negative Values"></i>
                <input type="text" placeholder="Salary" mask="0*" thousandSeparator="," name="salary" formControlName="salary" class="form-control" min="0" [ngClass]="{ 'is-invalid': submitted && f.salary.errors }" />
                <div *ngIf="submitted && f.salary.errors" class="invalid-feedback">
                    <div *ngIf="f.salary.errors.required">Salary is required</div>
                </div>
            </div>
        </div>
        <div class="mb-4 row col-12">
            <div class="form-group col-5">
                <label>Short Bio</label>
                <input type="text" placeholder="Short Bio" name="shortbio"  class="form-control" formControlName="shortbio" [ngClass]="{ 'is-invalid': submitted && f.shortbio.errors }" />
                <div *ngIf="submitted && f.shortbio.errors" class="invalid-feedback">
                    <div *ngIf="f.shortbio.errors.required">Short Bio is required</div>
                </div>
            </div>
            <div class="form-group col-5">
                <label>Date of Birth</label>
                    <div class="input-group">
                        <input type="date" name="dateofbirth" class="form-control" formControlName="dateofbirth" [ngClass]="{ 'is-invalid': submitted && f.dateofbirth.errors }" />
                        <div *ngIf="submitted && f.dateofbirth.errors" class="invalid-feedback">
                            <div *ngIf="f.dateofbirth.errors.required">Date of Birth is required</div>
                        </div>
                    </div>
                </div>
        </div>
            <button [disabled]="loading" class="btn btn-outline-primary" (click)="onSubmit()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
            </button>
            <a routerLink="/employee" class="btn btn-link">Cancel</a>
    </form>
</div>